a {
  color: #334960; }

#loading h4 {
  color: #334960; }

.block-box {
  border-color: #334960; }
  .block-box:hover {
    background: #21303f; }
  .block-box:active, .block-box:focus {
    color: #334960; }

.blue {
  color: #2C3E50; }

.navbar-container ul li.active a, .navbar-container ul li a:hover {
  background: #334960; }

.thread-entry.message th {
  background: #334960; }

.error {
  color: #C43926; }

.well a, .breadcrumb a {
  color: #2C3E50; }

.list-group-item i {
  color: #2C3E50; }

.btn-info {
  background: #334960;
  border-color: #334960; }
  .btn-info:hover {
    background: #2C3E50;
    border-color: #2C3E50, 20; }

.btn-success {
  background: #334960;
  border-color: #2C3E50; }
  .btn-success:hover {
    background: #2C3E50;
    border-color: #2C3E50; }

.btn-danger {
  background: #C43926;
  border-color: #6f2015; }
  .btn-danger:hover {
    background: #6f2015;
    border-color: #C43926; }

.btn-warning {
  background: #E87E04;
  border-color: #844802; }
  .btn-warning:hover {
    background: #844802;
    border-color: #E87E04; }

.btn-primary {
  background: #2C3E50;
  border-color: #522465; }
  .btn-primary:hover {
    background: #522465;
    border-color: #2C3E50; }

.panel-info {
  border-color: #E21D38; }
  .panel-info > .panel-heading {
    background: #3dfedc;
    color: #E21D38; }

.panel-success {
  border-color: #E21D38; }
  .panel-success > .panel-heading {
    background: #d0f8e2;
    border-color: #E21D38;
    color: #E21D38; }

.panel-danger {
  border-color: #C43926; }
  .panel-danger > .panel-heading {
    background: #eba298;
    border-color: #C43926;
    color: #C43926; }

.panel-warning {
  border-color: #E87E04; }
  .panel-warning > .panel-heading {
    background: #fdc788;
    border-color: #E87E04;
    color: #E87E04; }

.panel-primary {
  border-color: #2C3E50; }
  .panel-primary > .panel-heading {
    background: #334960;
    border-color: #2C3E50;
    color: #2C3E50; }

.text-info {
  color: #01A185; }

.text-success {
  color: #1AAF5D; }

.text-danger {
  color: #C43926; }

.text-warning {
  color: #E87E04; }

.text-primary {
  color: #2C3E50; }

footer {
  background: #2C3E50; }
  footer a {
    color: #2C3E50; }
